.puzzle {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #000;
    height: 100vh;
    color: white;
}

input, select {
    padding: 5px;
    margin: 10px;
}