.puzzle {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #000;
    height: 100vh;
    color: white;
    font-family: 'Dosis', sans-serif;
}

.header {
    position: absolute;
    height: 40px;
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

i {
    position: relative;
    color: white;
    font-size: 28px;
    padding: 25px;
}

h1 {
    text-transform: uppercase;
    letter-spacing: 0.03rem;
    font-weight: 400;
    margin: 20px 20px 20px 20px ;
}

.description {
    width: 60%;
    text-align: center;
    margin: 0 0 20px 0;
 }

h3 {
    font-weight: 400;
    margin: 10px;
    letter-spacing: 0.03rem;
}

input, select {
    padding: 5px;
    margin: 10px;
}