:root {
    --main-bg-color: #FFF8EB;
    /* color for tiles not yet assigned */
    --color-0: #FFEBC2;
    /* colors are shape specific (identified by number) */
    --color-1: #1E1EF0;
    --color-2: #F15025;
    --color-3: #B2B2FA;
    --color-4: #93C48B;
    --color-5: #79ADDC;
    --color-6: #FEAB95;
    --color-7: #55954B;
    --color-8: #FFC145;
    /* color for selected dates */
    --color-9: gray; 
    /* color for empty tiles on calendar */
    --color-10: #FFF8EB;
    --border-color: #FFF8EB;

    --cols: 7;
    --rows: 7;
    --square-size: 50px;
    --border-width: 5px;
}

* {
    box-sizing: border-box;
}

body {
    background-color: var(--main-bg-color);
}